#Bandeau{
    background-color: #2600ff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Contenu{
    background-color: #ffa600;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Footer{
    background-color: #00ffc8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Menu{
    background-color: #1eff00;
    padding: 20px;
    height: 220px;
    position: absolute;
    top:65px;
    left:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#MenuBas{
    background-color: #8c00ff;
    padding:8px;
    height:143px;
    position: absolute;
    top:325px;
    left:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#BlocsNews{
    background-color: #ff0101;
    padding:40px;
    height:90px;
    position: absolute;
    top:65px;
    right:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}




